.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    
    
}

.div1{
    width: 30%;
    height: 50vh;
    background-color: bisque;
    margin-right: 15px;
}

.div2{
    width: 30%;
    height: 50vh;
    background-color: rgb(255, 196, 250);
    text-align: center;
}

.div3{
    width: 30%;
    height: 50vh;
    background-color: rgb(196, 255, 196);
    text-align: center;
}

.div4{
    width: 30%;
    height: 50vh;
    background-color: rgb(214, 196, 255);
    text-align: center;
}
.div5{
    width: 30%;
    height: 50vh;
    background-color: rgb(255, 196, 201);
    text-align: center;
}
.div6{
    width: 30%;
    height: 50vh;
    background-color: rgb(197, 56, 21);
    text-align: center;
}